/*Стили шрифтов*/
@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

html {
  width: 100%;
}

/*body*/

body {
  margin: 0;
  padding: 0;

  font-family: "PT sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #333333;
  background-color: #F2F2F2;

  min-width: 100%;
  display: flex;
  flex-direction: column;
}

.container-body {
  -webkit-box-shadow: 0p 0 8px 7px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0 0 8px 7px rgba(0, 0, 0, 0.09);
  box-shadow: 0 0 8px 7px rgba(0, 0, 0, 0.09);

  width: 1200px;
  margin-left: auto;
  margin-right: auto;

  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Header*/
.navigation {
  margin: 0 auto;
  padding: 0 70px;
  height: 60px;

  display: flex;
}

/*
.header-logo {
  position: relative;
}
.header-logo img {
  position: absolute;
  height: 70px;
}
*/

.header-logo {
  width: 140px;
  margin-right: 30px;
}

.navigation-list {
  padding: 0;
/* Если делать через position: relative раскомментировать
  margin-left: 184px;
*/
  width: 360px;

  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;
}

.navigation-item {
  list-style: none;
}

.navigation-link {
  text-decoration: none;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  text-transform: capitalize;
  color: #000000;
}

.navigation-user {
  width: 270px;

  display: flex;
  justify-content: space-between;

  margin-left: auto;
  align-items: center;
}

.navigation-user .navigation-link {
  min-width: 44px;
  min-height: 64px;
}

/*Кнопки поиска*/

.button {
  font-family: "PT sans", sans-serif;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  border-radius: 4px;
  border: 0;

  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;


}

.button-search {
  background-color: #756157;
  padding: 8px 34px;
}


/*main*/

.main-container {
 flex-grow: 1;
}

.hero {
  background-image: url(../images/background/hero-background.jpg);
  background-repeat: no-repeat;
  background-color: blue inherit;

  padding-top:51px;
  padding-bottom: 82px;

  text-align: center;

  margin-bottom: 69px;
}

/*Заголовочный текст в секциях*/
.caption {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;

  color: #000000;

  text-align: center;
  text-transform: uppercase;
}

.slogan-description {
  margin-top: 0;
}

/*Текст с описанием подзаголовочным текстом*/
.main-description {
  font-size: 22px;
  line-height: 26px;

  text-align: center;

  margin-top: 25px;
  padding-bottom: 70px;
}

.main-slogan {
  margin-bottom: 20px;
}


.advantages-list {
  margin: 0;
  padding: 0;

  list-style:none;

  display: flex;
  flex-wrap: wrap;
}

.advantages-list-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;


  text-align: center;
  text-transform: uppercase;
}

.advantages-list-item {
  width: 400px;

  padding: 112.5px 85px;
  box-sizing: border-box;
}

.color {
  background-color: rgba(131, 179, 211, 0.12);
}

.distinguish {
  background-color: #82B3D3;
  color: #FFFFFF;

  display: flex;
  align-items: center;

  width:1200px;
  padding: 0;
}

.advantages-list img {
  display: block;
}

.wrapper-options {
  padding:64px 350px;
}

.wrapper-options p {
  margin-top: 0;
  margin-bottom: 20px;

  text-align: center;
}

.option-list {
  margin: 0;
  padding: 0;

  display: flex;
}

.option-list-item {
  list-style: none;

  width: 400px;
  text-align: center;

  padding: 81px 85px;
}

.option-list-item h3 {
  margin: 30px 0;
}

.option-list .description {
  margin: 0;
}

.section-search {
  padding: 96px 0;
}

.section-search .button-section-search {
  display: block;

  font-size: 20px;
  line-height: 36px;

  padding: 8px 50px;
  margin-left: auto;
  margin-right: auto;

  background: #756157;
}

/*footer*/

/*Блок подписки*/
.section-distribution {
  padding-top: 96px;
  padding-bottom: 104px;

  font-size: 22px;
  line-height: 26px;

  text-align: center;
}

.section-distribution-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.section-distribution p {
  margin-top: 0;
  margin-bottom: 54px;
}

.section-search .section-search-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.section-search .main-description {
  margin-top: 0;
  margin-bottom: 54px;
}

.distribution-form {

}

.field {
  width: 452px;

  font-size: 18px;
  line-height: 24px;

  padding: 14px 0 14px 20px;

  box-sizing: border-box;


  border-radius: 4px 0 0 4px;
  border: 0;

  background-color: #F2F2F2;
}

.index-distribution {
  background-image: url(../images/background/background-subscribe.jpg);
  background-color: blue;

  color:#FFFFFF;;
}

.index-distribution .caption {
  color:#FFFFFF;;
}

.button-distribution {
  background: #82B3D3;
  border-radius: 0 4px 4px 0;
  border: 1px;
  padding: 8px 50px;

  font-size: 20px;
  line-height: 36px;
}

/*Блок контакты*/

.container-address {
  width: 1060px;
  padding: 50px 65px 40px 75px;

  display: flex;
  justify-content: space-between;
}

.footer-contact-list {
  padding: 0;
  margin: 0;

  max-width: 184px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-contact-item {
  list-style: none;

  min-width: 48px;
  min-height: 40px;
}

.footer-contact-link {
  text-decoration: none;
  color: #000000;

  font-size: 18px;
  line-height: 21px;

  text-align: center;
}

/*отдел с номером*/

.footer-contact-address {
  width: 720px;

  text-align: center;
}

.footer-contact-address a {
  text-decoration: none;

  font-size: 40px;
  line-height: 40px;

  text-align: center;
  text-transform: uppercase;

  color: #000000;
}

.footer-contact-link .footer-logo {
  width: 150px;
  margin-right: auto;
}

/*Каталог*/

.container-main-image {
  background-image: url(../images/background/catalog-background.jpg);
  background-color:blue;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  height: auto;

  color: #FFFFFF;

  padding: 35px 70px 75px 70px;
  box-sizing: border-box;
}

.main-catalog-title {
  font-size: 60px;
  line-height: 78px;

  margin: 0;
}

/*Крошки*/
.breadcrumbs {
  list-style:none;
  font-size: 16px;
}
.breadcrumbs a {
  text-decoration: none;
  color: #FFFFFF;
}

/*Фильтр*/

.catalog-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog-filter-group {
  line-height: 23px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  text-transform: capitalize;
}

.filter-list {
  list-style:none;
}

/*Кнопки фильтра*/
.button-apply {
  font-size: 16px;
  line-height: 20px;

  background: #82B3D3;

  padding: 8px 50px;
}

input {
  font-family: "PT sans", sans-serif;
}

.button-reset {
  font-size: 16px;
  line-height: 20px;

  background: none;
  border: none;

  padding: 8px 50px;
}

.search-hotel {
  width: 1060px;
  margin: 50px auto 60px;
}

.output-wrapper {
  margin: 50px auto 40px auto;

  display: flex;
  justify-content: space-between;
}

.output-wrapper h2 {
  margin: 0 auto 0 0;
  padding: 0;
}

.select-control {
  font-size: 18px;
  line-height: 21px;

  padding: 14px 131px 14px 20px;
/*
  padding-top: 14px;
  padding-left: 20px;
  padding-bottom: 14px;
  padding-right: 131px;
*/
  margin-right: 40px;
}

.button-list {
  display: flex;
  list-style: none;

  width: 160px;
  gap: 8px;

  margin: 0;
  padding: 0;
}

.button-list-button {
  width: 48px;
  height: 48px;

  background-color: #FFFFFF;

  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.button-card-active {
  border: 2px solid #000000;
}

/*Карточки товаров*/
.card-list {
  width: 100%;

  font-size: 16px;
  line-height: 20px;

  display: flex;
  flex-wrap: wrap;

  margin-bottom: 40px;
  padding: 0;
  gap: 20px;

  padding-bottom: 40px;
  border-bottom: 1px solid #E6E6E6;
}

.card-list img {
  vertical-align: middle;
}

.card-list a {
  color: white;
  text-decoration: none;
}
.card-list-title {
  color: #000000;
}
.card-list-item {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  padding: 20px;

  list-style: none;

  text-transform: uppercase;
  align-items: center;
  text-align: center;

  width: 340px;

  border: 1px solid #E6E6E6;
  border-radius: 4px;

  box-sizing: border-box;
}

.card-list-title {
  font-size: 24px;
  line-height: 28px;

  text-transform: none;

  margin: 16px 0;
}

.card-price {
  font-size: 18px;
  line-height: 21px;

  font-weight: 400;
  text-transform: none;

  margin: 16px 0;

  display: flex;
  justify-content: space-between;
}

.more {
  align-items: center;
  padding: 8px 26px;

  background-color: #756157;
  border-radius: 4px;

  /*
  margin-right: 20px;
  */
}

.button-favorites {
  padding: 8px 20px;

  background: #82B3D3;
}

.button-active {
  background: #7DB54F;

  padding: 8px 18px;
}

.rating {
  font-weight: 400;

  background: #F2F2F2;
  border-radius: 4px;

  padding-top: 9px;
  padding-left: 23px;
  padding-bottom: 8px;
  padding-right: 22px;
}

/*Пагинация*/

.pagination-list {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;

  color: #000000;

  list-style: none;

  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: 8px;

  margin: 0;
  padding: 0;
}

.pagination-link {
  width: 60px;
  height: 60px;

  background-color: #82B3D3;
  color: #FFFFFF;

  padding:  auto auto;
  text-decoration: none;
  display: block;

  border: 1px solid black;
  border-radius: 4px;

  text-align: center;
  text-transform: uppercase;
}

.pagination-item-dots {
  border: 1px solid none;
  border-radius: 4px;

  width: 60px;
  height: 60px;

  text-align: center;
}

.pagination-active a {
  color: #000000;
  background-color: #F2F2F2;
}
