/*Стили шрифтов*/
@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

html {
  width: 100%;
}

/*body*/

body {
  margin: 0;
  padding: 0;

  font-family: "PT sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #333333;
  background-color: #F2F2F2;

  min-width: 100%;
  display: flex;
}

.container-body {
  -webkit-box-shadow: 0p 0 8px 7px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0 0 8px 7px rgba(0, 0, 0, 0.09);
  box-shadow: 0 0 8px 7px rgba(0, 0, 0, 0.09);

  width: 1200px;
  margin-left: auto;
  margin-right: auto;

  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.cursor {
  cursor: pointer;
}

/*Header*/
.navigation {
  margin: 0 auto;
  padding: 0 70px;
  height: 64px;

  display: flex;
}

.navigation .active {
  position: relative;
}

.navigation .active::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: -22px;
  width: 100%;
  height: 2px;
  background-color: #756257;
  transform: translateX(-50%);
}



.header-logo {
  width: 140px;
  margin-right: 30px;
}

.navigation-list {
  padding: 0;

  width: 360px;

  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;
}

.navigation-item {
  list-style: none;
}

.navigation-link {
  text-decoration: none;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  text-transform: capitalize;
  color: #000000;
}

.navigation-user {
  width: 270px;

  display: flex;
  justify-content: space-between;

  margin-left: auto;
  align-items: center;
}

.navigation-user .navigation-link {
  min-width: 44px;
  min-height: 64px;
}

.navigation-user-item {
  background-repeat: no-repeat;
  background-position: center;

  padding: 22px 12px;
}

.search {
  background-image: url("../images/search.svg");
}

.favorites {
  background-image: url("../images/favorites.svg");

  position: relative;
}

.favorites-quantity {
  font-size: 10px;
  color: #ffffff;

  position: absolute;
  content: " ";

  background-color: #7db54f;

  width: 20px;
  height: 20px;

  left: 11px;
  top: 11px;

  border-radius: 50%;

  text-align: center;
}

/*Кнопки поиска*/

.button {
  font-family: "PT sans", sans-serif;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  border-radius: 4px;
  border: 0;

  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;
}

.button-search {
  background-color: #756157;
  padding: 8px 34px;
}


/*main*/

.main-container {
 flex-grow: 1;
}

.hero {
  background-image:url(../images/background/hero-line.svg), url(../images/background/hero-background.jpg) ;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: rgba(131, 179, 211, 1);

  width: 100%;
  height: 485px;

  text-align: center;
}

.hero-logo {
  padding-top:51px;

  width: 458px;
  height: 352px;

}

/*Заголовочный текст в секциях*/
.caption {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;

  margin-top: 0;
  margin-bottom: 20px;

  color: #000000;

  text-align: center;
  text-transform: uppercase;
}

.slogan-description {
  margin: 0;
  padding-top: 69px;
}

/*Текст с описанием подзаголовочным текстом*/
.main-description {
  font-size: 22px;
  line-height: 26px;

  text-align: center;

  margin-top: 25px;

}

.advantages {
  padding-top: 69px;
}
.advantages-list {
  margin: 0;
  padding: 0;

  list-style:none;

  display: flex;
  flex-wrap: wrap;

  text-align: center;
}

.advantages-list-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  margin-bottom: 30px;


  text-align: center;
  text-transform: uppercase;

  position: relative;
}

.distinguish h3::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: -30px;
  width: 60px;
  height: 2px;
  background-color: #ffffff;
  opacity: 30%;
  transform: translateX(-50%);
}

.black h3::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: -30px;
  width: 60px;
  height: 2px;
  background-color: #000000;
  opacity: 30%;
  transform: translateX(-50%);
}

.container-advantages-list-item .description {
  margin-top: 30px;
}



.container-advantages-list-item {
  padding: 0 85px;

  width: 400px;
  min-height: 385px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;

  margin-top: auto;
  margin-bottom: auto;
}

.color {
  background-color: rgba(131, 179, 211, 0.12);
}

.distinguish {
  background-color: #82B3D3;
  color: #FFFFFF;

  display: flex;
  align-items: center;

  width:1200px;
  padding: 0;
}

.reverse {
  order: 1;
}

.advantages-list img {
  display: block;
}

/*Блок с опциями*/

.wrapper-options {
  padding:64px 350px;

  text-align: center;
}

.wrapper-options .options-description {
  font-size: 22px;
  margin: 0;
}

.option-list {
  margin: 0;
  padding: 0;

  display: flex;
}

.option-list-item {
  list-style: none;

  width: 400px;
  text-align: center;

  padding: 80px 85px;
}

.option-list-item h3 {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;

  margin-top: 105px;
  margin-bottom: 30px;

  position: relative;
}

.house h3::before {
  position: absolute;
  content: " ";
  background-image: url(../images/house.svg);
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
  top: -100px;
  left: 80px;
}

.food h3::before {
  position: absolute;
  content: " ";
  background-image: url(../images/food.svg);
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
  top: -100px;
  left: 80px;
}

.present h3::before {
  position: absolute;
  content: " ";
  background-image: url(../images/present.svg);
  background-repeat: no-repeat;
  width: 75px;
  height: 76px;
  top: -100px;
  left: 80px;
}

.option-list .description {
  margin: 0;
}

/*Блок с кнопкой поиска*/

.section-search {
  padding: 96px 0;
}

.section-search .button-section-search {
  display: block;

  font-size: 20px;
  line-height: 36px;

  padding: 8px 50px;
  margin-left: auto;
  margin-right: auto;

  background: #756157;
}

.section-search .section-search-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.section-search .main-description {
  margin-top: 0;
  margin-bottom: 54px;
}

/*footer*/

/*Блок подписки*/
.section-distribution {
  padding-top: 96px;
  padding-bottom: 104px;

  font-size: 22px;
  line-height: 26px;

  text-align: center;

}

.section-distribution-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.section-distribution p {
  margin-top: 0;
  margin-bottom: 54px;
}

.distribution-form {
  display: flex;
  justify-content: center;
}

.field {
  width: 452px;

  font-size: 18px;
  line-height: 24px;

  padding: 14px 0 14px 20px;

  box-sizing: border-box;


  border-radius: 4px 0 0 4px;
  border: 0;

  background-color: #F2F2F2;
}

.index-distribution {
  background-image: url(../images/background/background-subscribe.jpg);
  background-color: rgba(131, 179, 211, 1);

  color:#FFFFFF;;
}

.index-distribution .caption {
  color:#FFFFFF;;
}

.button-distribution {
  background: #82B3D3;
  border-radius: 0 4px 4px 0;
  border: 1px;
  padding: 8px 50px;

  font-size: 20px;
  line-height: 36px;
}

/*Блок контакты*/

.container-address {
  width: 1060px;
  padding: 40px 70px 35px 70px;

  display: flex;
  justify-content: space-between;
}

.footer-contact-list {
  padding: 0;
  margin: 0;

  max-width: 184px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-contact-item {
  list-style: none;

  min-width: 48px;
  min-height: 40px;
}


.footer-contact-link {
  padding: 12px;

  display: flex;
  justify-content: center;
}


/*отдел с номером*/

.footer-contact-address {
  width: 720px;

  text-align: center;
  font-style: normal;
}

.footer-contact-address a {
  text-decoration: none;

  font-size: 40px;
  line-height: 40px;

  text-transform: uppercase;

  color: #000000;
}

/*Модальное окно*/

.modal-container {
  position: fixed;

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  background-color: rgba(242, 242, 242, 0.80);

  display: flex;
}

.modal {
  position: relative;

  margin: auto;
  padding: 64px 70px;

  background: #FFF;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  border-radius: 30px;

  box-sizing: border-box;
}

.modal-search-hotel {
  width: 717px;
}

.modal-search-form {
  display: flex;
  flex-direction: column;

  gap: 48px;

  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.modal-closed-button {
  position: absolute;
  padding: 0;

  top: 63px;
  right: 51px;

  width: 52px;
  height: 52px;

  border: none;
  border-radius: 50%;

  background-image: url("../images/modal/modal-closed.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F2F2F2;
}

.modal-title {
  font-size: 30px;
  line-height: 36px;

  margin: 0;

  text-transform: uppercase;
  margin-bottom: 64px;
}

.arrival-date {
  display: flex;
  align-items: center;
  gap: 24px;
}

.departure-date {
  display: flex;
  align-items: center;
  gap: 18px;
}

.input-date {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px 20px;

  width: 440px;

  border: none;
  border-radius: 4px;
  background:  #F2F2F2;
  box-sizing: border-box;

  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.wrapper-number-people {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 88px;
}

.wrapper-number-people .adults {
  display: flex;

  margin-right: 88px;

  width: 247px;

  margin: 0;
  padding: 0;


  align-items: center;
  gap: 46px;
}

.wrapper-number-people .children {
  display: flex;
  align-items: center;


  width: 242px;

  margin: 0;
  padding: 0;
}

.children-title {
  margin-right: 82px;
}

.wrapper-number-people-button {
  display: flex;
  padding: 14px 10px;


  border: none;
}

.container-number-people {
  display: flex;
}

.quantity {
  display: flex;
  justify-content: center;
  text-align: center;

  margin: 0;
  padding: 14px 10px;
  width: 31px;

  border: none;
  outline: none;

  box-sizing: border-box;
  background: #f2f2f2;

  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.quantity::-webkit-outer-spin-button,
.quantity::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}




/*Тултип*/


.tooltip {
  position: absolute;
  margin-top: 4px;
  margin-left: 2px;
  width: 16px;
  height: 16px;
}

.tooltip-toggle {
  position: absolute;

  padding: 0;
  margin: 0;

  top: 6px;
  left: 390px;

  border: none;
  background-color: transparent;

  display: block;
}


.tooltip-text {
  position: absolute;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  font-family: PT Sans;


  width: 256px;

  margin: 0;
  padding: 15px 18px 18px 22px;

  top: 50px;
  left: 276px;

  color: #ffffff;

  box-sizing: border-box;

  border-radius: 10px;
  background:  #333;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.30);

  z-index: 1;

  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}




/*Каталог*/

.container-main-image {
  background-image: url(../images/background/catalog-background.jpg);
  background-color:rgba(131, 179, 211, 1);
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  height: auto;

  color: #FFFFFF;

  padding: 35px 70px 70px 70px;
  box-sizing: border-box;
}

.main-catalog-title {
  font-size: 60px;
  line-height: 78px;

  margin: 0;
  margin-bottom: 8px;

}

/*Крошки*/
.breadcrumbs {
  list-style:none;
  font-size: 16px;

  margin-top: 0;
  margin-bottom: 40px;
  padding: 0;

  display: flex;
  gap: 27px;

  position: relative;
}

.breadcrumbs::before {
  position: absolute;
  content: " ";

  width: 8px;
  height: 20px;

  background-image: url("../images/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;

  left: 23px;
}

.breadcrumbs a {
  text-decoration: none;
  color: #FFFFFF;
}

/*Фильтр*/

.wrapper-type {
  display: flex;
  gap: 70px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
  line-height: 23px;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  margin-bottom: 32px;
  padding: 0;

  text-transform: capitalize;

  display: flex;
  justify-content: space-evenly;
}

.filter-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style:none;
}

.control {
  position: relative;

  padding-left: 36px;
}

/*Инпуты чекбокс*/

.control-mark {
  position: absolute;

  width: 20px;
  height: 20px;

  left: 0;

  border: 1px solid #000000;
  background-color: #FFFFFF;
  border-radius: 20%;
}

.control:hover .control-mark {
  background-color:  #E5E5E5;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  content: "";

  width: 20px;
  height: 20px;

  background-image: url(../images/control-checkbox.svg);
  background-position: center;
  background-repeat: no-repeat;
}

/*Инпуты радио*/

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

/*Фильтр стоимости*/

.range-scale {
  position: relative;
  height: 4px;
  width: 286px;
  margin-bottom: 8px;

  background: #929292;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20%;
  border: none;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #ffffff;
}

.range-toggle:active,
.range-toggle:focus {
  outline: 1px solid #000000;
}

.toggle-min {
  top: -8px;
  left: -2px;
}

.toggle-max {
  top: -8px;
  right: -5px;
}

.range-wrapper-inputs {
  display: flex;
  gap: 2px;

  margin: 0;
  margin-bottom: 46px;
}

.catalog-filter-label {
  display: flex;
}

.catalog-filter-label .left {
  border-radius: 5px 0 0 5px;
}


.catalog-filter-label .right {
  border-radius: 0 5px 5px 0;
}

.range-input {
  padding: 12px 20px;
  width: 143px;

  box-sizing: border-box;

  font: inherit;
  border: none;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/*Кнопки фильтра*/

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 32px;
}

.button-apply {
  font-size: 16px;
  line-height: 20px;

  background: #82B3D3;

  padding: 8px 50px;
}

input {
  font-family: "PT sans", sans-serif;
}

.button-reset {
  font-size: 16px;
  line-height: 20px;

  background: none;
  border: none;

  padding: 8px 50px;
}

.search-hotel {
  width: 1060px;
  margin: 50px auto 60px;
}

.output-wrapper {
  margin: 50px auto 40px auto;

  display: flex;
  justify-content: space-between;

  align-items: center;
}

.output-wrapper h2 {
  margin: 0 auto 0 0;
  padding: 0;
}

.select-control {
  font-family: PT Sans;
  font-size: 18px;
  line-height: 21px;

  width: 292px;
  padding: 10px 20px;
  margin-right: 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  border-radius: 4px;
  border: 2px solid var(--forms-elements-1, #E5E5E5);

  appearance: none;

  background-color: rgba(255, 255, 255, 0);
  background-image: url(../images/select-control-arrow.svg);
  background-repeat: no-repeat;
  background-position: 254px 11px;
}

.button-list {
  display: flex;
  list-style: none;

  width: 160px;
  gap: 8px;

  margin: 0;
  padding: 0;
}

.button-list-button {
  width: 48px;
  height: 48px;

  background-color: #FFFFFF;

  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.button-card-active {
  border: 2px solid #000000;
}

/*Карточки товаров*/
.card-list {
  width: 100%;

  font-size: 16px;
  line-height: 20px;

  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 19px;

  margin-bottom: 40px;
  padding: 0;
  padding-bottom: 40px;

  border-bottom: 1px solid #E6E6E6;
}

.card-list img {
  vertical-align: middle;
}

.card-list a {
  color: white;
  text-decoration: none;
}
.card-list-title {
  color: #000000;
}

.card-list-item {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  padding: 20px;

  list-style: none;

  text-transform: uppercase;
  align-items: center;
  text-align: center;

  width: 340px;

  border: 1px solid #E6E6E6;
  border-radius: 4px;

  box-sizing: border-box;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;

  margin-bottom: 16px;
}

.rating-wrapper {
  display: flex;
  justify-content: space-between;
}


.rating-stars {
  margin: 0;

  background-image: url('../images/star-one.svg');
  background-repeat: space;

  align-self: center;

  height: 17px;
}

.rating-stars-level-four {
  width: 88px;
}

.rating-stars-level-three {
  width: 65px;
}

.rating-stars-level-two {
  width: 43px;
}


.card-list-title {
  font-size: 24px;
  line-height: 28px;

  text-transform: none;
  text-align: left;

  margin: 16px 0;
}

.card-price {
  font-size: 18px;
  line-height: 21px;

  font-weight: 400;
  text-transform: none;

  margin: 16px 0;

  display: flex;
  justify-content: space-between;
}

.more {
  align-items: center;
  padding: 8px 26px;

  background-color: #756157;
  border-radius: 4px;

  /*
  margin-right: 20px;
  */
}

.button-favorites {
  padding: 8px 20px;

  background: #82B3D3;
}

.button-active {
  background: #7DB54F;

  padding: 8px 18px;
}


.rating {
  font-weight: 400;

  background: #F2F2F2;
  border-radius: 4px;

  padding-top: 9px;
  padding-left: 23px;
  padding-bottom: 8px;
  padding-right: 22px;
}

/*Пагинация*/

.pagination-list {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;

  color: #000000;

  list-style: none;

  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: 8px;

  margin: 0;
  padding: 0;
}

.pagination-link {
  min-width: 60px;
  height: 60px;

  background-color: #82B3D3;
  color: #FFFFFF;

  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  padding: 0 12px;

  border: none;
  border-radius: 4px;

  text-transform: uppercase;
}

.pagination-item-dots {
  width: 60px;
  height: 60px;

  border: 1px solid none;
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-active a {
  color: #000000;
  background-color: #F2F2F2;
}
